<% if (messages.error) { %>
  <p style="color:red"><%- messages.error %></p>
<% } %>

<% if (messages.success) { %>
  <p style="color:green"><%- messages.success %></p>
<% } %>

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<%- include ../layouts/header.ejs %>
	  
   </head>
  <body background = "http://backgroundcheckall.com/wp-content/uploads/2017/12/study-background-11.jpg">
      <div class="container" style="padding-top: 20px">
          <div class="row">
              <div class="col-md-4 col-md-offset-4">
                  <div class="panel panel-default">
                      <div class="panel-heading">
                          <h3 class="panel-title">TA/CA Locator</h3>
                          <p>Sign In</p>
                      </div>
                      <div class="panel-body">
                         



                                  <form action="/student/login" method="post" name="form1">
                                

                                  <div class="form-group">
                                      <input class="form-control" placeholder="E-mail" name="email" type="text" value="<%= email %>">
                                  </div>
                                  <div class="form-group">
                                      <input class="form-control" placeholder="Password" name="pass" type="password" value="<%= pass %>">
                                  </div>
                                    <td><input type="submit" class="btn btn-lg btn-dark btn-block" name="Submit" value="Sign In" /></td>

                                  <p><br>Don't Have an Account? <a href="/student/register">Register</a></p>
                                  </form>


                           
                      </div>
                  </div>
              </div>
              <div class="col-md-6 col-md-offset-4">
                  <p>
                      The TA/CA locator makes it easy to find help in the Computer Science department at The University of Colorado Boulder. We match your
                      availability with all of your TA's/CA's schedules so that you will never miss another important office hour. <br> <br>
                      Once you click continue we will help you personalize your student account. Thank you for signing up!
                  </p>
              </div>
          </div>
      </div>
    </div>
  </body>

  <footer>
  <div class="footerLinks">
    <ul>
      <li><a href="https://github.com/Zoolouie/CATALOCATOR-ExecutableCode/commits/master">Current GitHub     </a>    |</li>
        <li><a href="https://github.com/Roman260/SoftwareDevProject">Old GitHub     </a>      |</li>
        <li><a href="https://trello.com/b/Il8S973j/sprint-one">Trello     </a>      |</li>
        <li><a href="/student/about">About Us     </a> </li>
    </ul>
    </div>  


  </div>
  <div class="copyright">
    <p>&copy; 2018</p>
</footer>


</html>

