<%- include ../layouts/logged_in_header.ejs %>

	<% if (messages.error) { %>
		<p style="color:red"><%- messages.error %></p>
	<% } %>

	<% if (messages.success) { %>
		<p style="color:green"><%- messages.success %></p>
	<% } %>	

<script type="text/javascript">
var err = <%-JSON.stringify(messages)%>
console.log(err)
</script>

This will be the main view people see with a calendar, current classes, TA schedules, etc.

<table width='60%' border=0>

	<tr style='text-align:left; background-color:#CCC'>
		<th>Name</th>
		<th>ClassID</th>
	</tr>

	<% if (data) { %>
	<% data.forEach(function(item){ %>
		<tr>
			<td><%= item.studentid %></td>
			<td><%= item.classid %></td>
			<td>
	
		</td>

		</tr>
	<% }) %>
	<% } %>

</table>


<%- include ../layouts/footer.ejs %>
