
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    


  </head>

   <div class="navbar">
<table bgcolor="black" border="0" width="100%" ID="Table2" style="margin: 0px;">
  <tr>
    <td> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/student/main_view">My Schedule</a>  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/student/selection">Add Classes</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a href="/student/login">Logout</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/student/about">About</a></td>
  </tr>
  
    
</table><br><br>

   
</div>






 <body>


<link rel="stylesheet" href="/css/main.css" type="text/css" />


	<% if (messages.error) { %>
		<p style="color:red"><%- messages.error %></p>
	<% } %>

	<% if (messages.success) { %>
		<p style="color:green"><%- messages.success %></p>
	<% } %>	

<script type="text/javascript">
var err = <%-JSON.stringify(messages)%>
console.log(err)
</script>



<!-- registered classes table -->
<div class = "containermain">
	<div id="my-div">
	<table width='80%' border=0- cellpadding="5"  align= "center">
		<caption><tr style='text-align:left';><h4 style = 'margin-left: .5%;'>Registered Classes</h2></caption>
		<tr style='text-align:left; background-color:#696969'>
			<th>Class</th>
			<th>Teacher</th>
			<th>Days</th>
			<th>Time</th>
			<th>Location</th>
		</tr>

		<% if (data) { %>
		<% data.forEach(function(item){ %>
			<tr >
				<td>CSCI <%= item.classid %></td>
				<td><%= item.firstname %><%= item.lastname %></td>
				<td><%= item.dayofweek %></td>
				<td><%= item.fromtime %> - <%= item.totime %></td>
				<td>Building: <%= item.building %> Room: <%= item.room %></td>
		
			</td>

			</tr>
		<% }) %>
		<% } %>

	</table>


<!-- class ta schedule -->
	<table width='80%' border="0" cellpadding="5" align= "center" >
		<caption><tr style='text-align:left';><h4 style = 'margin-left: .5%;'>Office Hours</h4></caption>
		<tr style='text-align:left; background-color:#696969'>
			<th>Class</th>
			<th>Class TA</th>
			<th>Days</th>
			<th>Time</th>
			<th>Location</th>
		</tr>

		<% if (data) { %>
		<% data.forEach(function(item){ %>
			<tr>
				<td>CSCI <%= item.classid %></td>
				<td><%= item.tafirstname %><%= item.talastname %></td>
				<td><%= item.tadayofweek %></td>
				<td><%= item.tafromtime %> - <%= item.tatotime %></td>
				<td>Building: <%= item.tabuilding %> Room: <%= item.taroom %></td>
		
			</td>

			</tr>
		<% }) %>
		<% } %>

	</table>
</div>
</div>
	<br>

	 <footer>
	  <div class="footerLinks">
	    <ul>
	    
	      <li><a href="https://github.com/Zoolouie/CATALOCATOR-ExecutableCode/commits/master">Current GitHub     </a>    |</li>
	        <li><a href="https://github.com/Roman260/SoftwareDevProject">Old GitHub     </a>      |</li>
	        <li><a href="https://trello.com/b/Il8S973j/sprint-one">Trello     </a>      |</li>
	        <li><a href="/student/about">About Us     </a> </li>
	    </ul>
	    </div>  

	  
	  	<div class="copyright">
	    <p>&copy; 2018</p>
	   </div>
	</footer>
</html>
